body{ background-color: #f1f1f1; }
form{ margin-top: 3em; }
.content-login{ width: 350px; margin: 8% auto auto; background-color: white; padding: 2.5em; border-radius: 5px;}
.brand { width: 50%; display: block; margin: auto; }